*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


.editortabs-container{
    background: rgba(255, 255, 255, 0.2); /* Transparent white background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}